@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&display=swap');


/* font-family: 'IM Fell English', serif; */

:root {
    --dark-blue: #1e293b;
    --gray: #9ca3af;
    --white: #fafafa;
    --red: #e11d48;
}

body {
    font-family: 'IM Fell English',
        serif;
    background-color: var(--dark-blue);
    margin: 0px 40px;
    text-align: center;
}


.txt-area {
    width: 60%;
    display: block;
    margin: auto;
    height: 10vh;
    padding: 1rem;
    text-align: center;
    border-width: 0.3rem;
    border-color: var(--gray);
    border-radius: 4rem;
    color: var(--dark-blue);
    /* -webkit-text-stroke: blue 0.8px; */
}

.read-txt {
    color: var(--gray);
}

.txt-size1 {
    font-size: 2.5rem;
}

.txt-size2 {
    font-size: 2rem;
    color: var(--red);
}

.txt-red {
    color: var(--red);
}

#txt-output {
    border: 1px solid black;
    height: 10vh;
    width: 60%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    display: block;
    font-size: xx-large;
    border-width: 0.3rem;
    border-color: var(--dark-blue);
    border-radius: 4rem;
    color: var(--dark-blue);
    /* -webkit-text-stroke: blue 0.8px; */
}

#txt-input {
    background-color: white;
    font-family: 'IM Fell English',
        serif;
    font-size: xx-large;
}

.btn-style {
    padding: 0.5rem;
    margin: 1rem;
    width: 10rem;
    height: 2.5rem;
    border-radius: 1rem;
    font-family: 'IM Fell English',
        serif;
    font-size: 125%;
    color: var(--dark-blue);
    background-color: #e2e8f0;
    opacity: 0.8;
}

.footer .footer-tag {
    padding-top: 14rem;
    color: var(--gray);
    font-size: large;
    position: relative;
    clear: both;
}